
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    Profile
                </a>

            <p class="navbar-text pull-right">
                <a ng-click = "model.updateProfile()" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>

    </div>
</nav>

    {{model.alert}}

    <div class="container">
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#/user/{{model.user._id}}/website">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="#login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">

            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user pull-right"> </span>
                </a>
            </p>

        </div>
    </div>
</nav>
