<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-header complete-width">

            <p class="navbar-text pull-left">
                <a href="#user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"> </span>
                </a>
            </p>

            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"> </span>
                </a>
            </p>

            <a class="navbar-brand" href="#">
                Websites
            </a>

    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li ng-repeat = "website in model.websites" class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog pull-right"> </span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">

            <p class="navbar-text pull-right">
                <a href="#user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user pull-right"> </span>
                </a>
            </p>

        </div>
    </div>
</nav>
